<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav') %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste debitis mollitia corrupti est et iure unde numquam id tenetur sit voluptatibus saepe, facere tempora explicabo pariatur! Nemo, architecto doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quia laborum inventore facere, provident impedit earum perspiciatis accusantium libero molestias illum totam eos alias quos beatae blanditiis iste quas voluptatibus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus deserunt eligendi autem nam commodi velit error, provident impedit non doloremque alias labore earum modi nobis consectetur saepe aliquam ullam! Nemo?</p>
    <h2>You are looking at the blog entry for <%= date %></h2>
</body>
</html>